@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,300&display=swap");

* {
    box-sizing: border-box;
}
html,
body {
    animation: transition 1s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100vw;
    height: 100vh;
}
#page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    width: 100vw;
    padding: 0px;
    height: 100vh;
}
header {
    overflow: hidden;
    width: 100vw;
    background-color: hsl(47, 50%, 46%);
    height: 8vh;
    color: white;
    display: grid;
    place-items: center;
    font-size: 4vw;
    font-family: monospace;
    font-style: italic;
}

nav {
    height: 87vh;
    float: left;
    background-color: hsl(210, 50%, 30%);
    width: 15vw;
    padding-top: 1.5vh;
    padding-bottom: 5vh;
    padding-left: 1vw;
    text-align: left;
    color: whitesmoke;
    font-size: 2vw;
    font-family: "Josefin Sans", sans-serif;
}

.article {
    overflow-y: scroll;
    height:87%;
    animation: transition 2ss;
    position:relative;
    float: left;
    width: 85vw;
    background-color: whitesmoke;
}

footer {
    clear: both;
    height: 5vh;
    background-color: rgb(42, 39, 39);
    text-align: center;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    display: grid;
    place-items: center;
}

@media screen and (orientation: portrait) {
}
nav ul {
    margin: 0;
    padding-inline-start: 2vw;
}
nav ul li {
    padding-left: 1vw;
    padding-top: 4vh;
    padding-bottom: 3vh;
    cursor: pointer;
}
li:hover {
    color: hsl(0, 85%, 50%);
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: hsl(0, 85%, 50%);
}

@keyframes transition {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.imgText {
    height:fit-content;
    width: 83vw;
    padding:1vw;
    margin-bottom: 0px;
}
.articleIMGLeft {
    margin-right: 3vw;
    margin-bottom:2vw;
    width: 18vw;
    height: 50vh;
    float: left;
    border-radius: 20%;
}
.imgText h1 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    margin-bottom: 4vh;
    margin-top: 0px;
    text-align: center;
    font-size: 4vw;
    text-shadow: 8px -9px 11px rgba(66, 68, 90, 1), -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;
}
.imgText p {
    margin-left: 1vw;
    text-indent: 1.5vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
.articleBilans {
    height:50vh;
    width:80vw;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.articleTable {
    font-size:1vw;
    border-collapse: inherit;
    border-width: 0.3vw;
    border-spacing: 0px;
    width: 35vw;
    height: 50vh;
    margin-left: 2vw;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.articleTable thead th {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
.articleTable tbody td {
    font-style: italic;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px;
}
.articleTable tbody tr {
    background-color: rgb(196, 180, 180);
    border: 1px solid rgb(0, 0, 0);
}
.articleTable tbody tr:nth-child(even) {
    background-color: gray;
}
.articleBilans2 video {
    object-fit: fill;
    background-color: black;
    width: 40vw;
    height: 50vh;
    margin-top: 0px;
    margin-left:2vw;
    float: left;
    border: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.articleBilans2 {
    height:100vh;   
    float: left;
    width:80vw;
    margin-top:5vh;
}

.article form {
    text-align: center;
    margin-top: 5vh;
}
.articleBilans h2 {
    margin-left: 1vw;
    margin-bottom: 2vh;
    font-style: oblique;
    font-size: 2vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    text-shadow: 8px -9px 11px rgba(66, 68, 90, 1), -1px 0 black, 0 1px black,
        1px 0 black, 0 -1px black;
}
#goTop {
    clear: both;
    font-style: oblique;
    margin-left: 80vw;
    font-size: 1.5vw;
    text-shadow: 8px 9px 6px rgba(66, 68, 90, 1);
}
#goTop:hover {
    cursor: pointer;
}
.blueBoxShadow {
    box-shadow: rgba(53, 83, 138, 1) 5px 5px, rgba(53, 83, 138, 0.8) 10px 10px,
        rgba(53, 83, 138, 0.5) 15px 15px, rgba(53, 83, 138, 0.4) 20px 20px,
        rgba(53, 83, 138, 0.2) 25px 25px;
}
.redBoxShadow {
    box-shadow: rgba(158, 46, 51, 1) 5px 5px, rgba(158, 46, 51, 0.8) 10px 10px,
        rgba(158, 46, 51, 0.5) 15px 15px, rgba(158, 46, 51, 0.4) 20px 20px,
        rgba(158, 46, 51, 0.2) 25px 25px;
}
.yellowBoxShadow {
    box-shadow: rgba(223, 236, 104, 1) 5px 5px,
        rgba(223, 236, 104, 0.8) 10px 10px, rgba(223, 236, 104, 0.5) 15px 15px,
        rgba(223, 236, 104, 0.4) 20px 20px, rgba(223, 236, 104, 0.2) 25px 25px;
}
.silverBoxShadow {
    box-shadow: rgb(155, 152, 152) 5px 5px, rgb(155, 152, 152, 0.8) 10px 10px,
        rgb(155, 152, 152, 0.5) 15px 15px, rgb(155, 152, 152, 0.4) 20px 20px,
        rgb(155, 152, 152, 0.2) 25px 25px;
}

.blueTable thead tr {
    background-color: rgba(53, 83, 138, 1);
}
.blueTable tbody tr:hover {
    background-color: rgba(53, 83, 138, 1);
}
.redTable thead tr {
    background-color: rgba(158, 46, 51, 1);
}
.redTable tbody tr:hover {
    background-color: rgba(158, 46, 51, 1);
}
.yellowTable thead tr {
    background-color: rgba(223, 236, 104, 1);
}
.yellowTable tbody tr:hover {
    background-color: rgba(223, 236, 104, 1);
}
.silverTable thead tr {
    background-color: rgb(192, 192, 192);
}
.silverTable tbody tr:hover {
    background-color: rgb(192, 192, 192);
}
.blueText {
    color: rgba(53, 83, 138, 1);
}
.redText {
    color: rgba(158, 46, 51, 1);
}
.yellowText {
    color: rgba(223, 236, 104, 1);
}
.silverText {
    color: rgb(192, 192, 192);
}

.achievements {
    height: 30vh;
    font-size: 1.5vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    float: left;
    width:40vw;
    margin-left:2vw; 
}
.achievements li:hover {
    color: red;
}
.achievements li {
    margin-top: 1vh;
    font-size: 1vw;
}
input{
    margin-top:0.2vh;
    margin-bottom:2vh;
}
#darkmodeMenu{
    margin-left:93%;
    font-size:1vw;
    height:2vw;
    width:2vw;
    

}
#darkmodeMenu img{
    margin-left:93%;
    font-size:1vw;
    height:2vw;
    width:2vw;
    

}
#darkmodeMenu img:hover{
    cursor:pointer;
    

}
.darkmode{
    animation: transition 2s;
    
    background-color: #121212ce;
    color:rgba(245, 245, 245, 0.751);
}
.darkmode h2{
    color:rgb(105, 103, 103);
}
.darkmode table{
    color:#fffffa;
}